/* Icon Bar */
.iconbar{
    font-size: 50px;
}
.watched{
    color: lightgreen;
}
.clickable{
    cursor: pointer;
    background-color: #303030;
    padding: 5px;
    border-radius: 5px;
}
.clickable:hover{
    color:lightskyblue;
    background-color: #101010; 
    /*
    border-style: solid;
    border-color: deepskyblue;
    */
}

/* Unit Menu Panel */
.indented{
    padding-left: 10px;
}

/* Extra */
.space{
    content: " ";
    display: block;
    margin: 40px 0;
    line-height: 40px;
}

.spacer{
    content: " ";
    display: block;
    margin: 1px 0;
    line-height: 1px;
}

/* Youtube Video */
#video-container{
}